.devType {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:22px
}
.textType {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size:22px;
    margin-bottom: 60px;
    margin-top: 60px;
}