.button{
    background-color: #770ea0;
    margin: auto;
    font-size: 20px;
    color: white;
    border-color: white;
    border-radius: 8px;
    padding: auto;
    align-items: center;
    margin-bottom: 0%;
}

.section{
    flex-direction: row;
    display: inline-block;
    padding: 10%;
    margin: 5%;
    background-image: url(../../medicare-image.jpeg);
    border-color: #770ea0;
    border-radius: 8px;
    height: 50px;
    width: 40px;
}

.section-title {
    font-weight: bold;
    color: #000000;
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }